<div class="container">


  
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    
    <!-- Email address -->
    <div style="margin-top: 8px;" class="form-group">
      <label #ref5 for="password">Old password:</label>
      <input #ref6 type="password" class="form-control" placeholder="Enter password" formControlName="oldPassword">
      <small #ref7>Please enter a valid email</small>
      <small #ref8>Please enter an email</small>
    </div>

    <div style="margin-top: 8px;" class="form-group">
      <label #ref5 for="password">New password:</label>
      <input #ref6 type="password" class="form-control" placeholder="Enter password" formControlName="newPassword">
      <small #ref7>Please enter a valid email</small>
      <small #ref8>Please enter an email</small>
    </div>
    
    <!-- submittion -->
    
    <button  style="margin-top: 8px;" [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>