ul {
  list-style-type: none;

  padding: 6px;
  overflow: hidden;
  background-color: #f8f9fa;
  height: 54px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(214, 214, 214);
}

.active {
  background-color: #04AA6D;
}
