<ul>
  <li style="margin-left: 11%;position:absolute;">
    <button class="btn btn-dark" *ngIf="loggedIn" routerLink="employee">
      Employees   
    </button>
  </li>
  <li><button routerLink="/home" class="btn" style="position:absolute; background-color: rgb(24, 73, 179);color: white;
    margin-left: 2.8%;">Home</button></li>
  <li style="margin-left: 18%;position:absolute;"><button *ngIf="loggedIn" class="btn btn-primary" routerLink="employee/add" style="position: relative;margin-left: 8px;">
          Add Employee
        </button></li>
        <!---->
          <li style="margin-left: 73%;position:absolute;"><app-login-button *ngIf="!loggedIn"></app-login-button></li>
          <li style="margin-left: 78%;position:absolute;"><app-signup-button *ngIf="!loggedIn"></app-signup-button></li>
        <!---->
  <li style="margin-left: 78.4%;position:absolute;"><app-logout-button *ngIf="loggedIn"></app-logout-button></li>
  <li style="margin-left: 73%;position:absolute;"><button routerLink="/profile" class="btn btn-danger"
       *ngIf="loggedIn">Profile</button></li>
       <li style="float: right;"><app-search-bar *ngIf="loggedIn"></app-search-bar></li>
</ul>