<div class="container">


  
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <div style="margin-top: 8px;" class="form-group">
      <label #ref1 for="name">Username:</label>
      
      <input #ref2 type="text" class="form-control" placeholder="Enter username" formControlName="name">
      <small #ref3>Your name length should be between 4 and 20 characters</small>
      <small #ref4>Please enter a name</small>
    </div>
    <!-- Email address -->
    <div style="margin-top: 8px;" class="form-group">
      <label #ref5 for="text">Confirmation Code:</label>
      <input #ref6 type="text" class="form-control" placeholder="Enter confirmation code" formControlName="confirmationCode">
      <small #ref7>Please enter a valid email</small>
      <small #ref8>Please enter an email</small>
    </div>
    
    
    <button  style="margin-top: 8px;" [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Confirm</button>
  </form>
  <!-- submittion -->
    <button class="btn btn-primary" style="margin-top: 8px;margin-right: 8px;"
    (click)="resendConfirmationCode()">Re-send confirmation</button>

</div>
