<div class="container card shadow p-3 mb-5 bg-body rounded" id="loginStyle">


  <h3 style="text-align: center;">Confirm your new account</h3>
  <hr>
  
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <div style="margin-top: 8px;" class="form-group">
      <label #ref1 for="name">Username:</label>
      
      <input #ref2 type="text" class="form-control" placeholder="Enter username" formControlName="name">
      
    </div>
    <!-- Email address -->
    <div style="margin-top: 8px;" class="form-group">
      <label #ref5 for="text">Confirmation Code:</label>
      <input #ref6 type="text" class="form-control"  (keyup)="inputOnChange(ref5,ref6,ref7,ref8,'confirmationCode')"
       placeholder="Enter confirmation code" formControlName="confirmationCode">
      <small #ref7></small>
      <small #ref8>Please enter a code</small>
    </div>
    <div style="color: gray; font-size: small;margin-top: 4px">
      Didn't receive a code? <a style="color: green;text-decoration:underline ;" (click)="resendConfirmationCode()">Resend code</a>
    </div>
    
    <button  style="margin-top: 8px; margin-left: 46%;"
    [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Confirm</button>
  </form>
  

</div>
