<div class="container card shadow p-3 mb-5 bg-body rounded" id="loginStyle">


  <h3 style="text-align: center;">Re-new your password</h3>
  <hr>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <div style="margin-top: 8px;" class="form-group">
      <label for="name">Username:</label>
      
      <input type="text" class="form-control" placeholder="Enter username" formControlName="name">
      
    </div>
    

    <div style="margin-top: 8px;" class="form-group">
      <label #ref1 for="name">Confirmation Code:</label>
      
      <input #ref2 type="text" class="form-control" (keyup)="inputOnChange(ref1,ref2,ref3,ref4,'confirmationCode')"
       placeholder="Enter confirmation code" formControlName="confirmationCode">
      <small #ref3>Your name length should be between 4 and 20 characters</small>
      <small #ref4>Please enter a code</small>
    </div>


    <div style="margin-top: 8px;" class="form-group">
      <label #ref5 for="name">New password:</label>
      
      <input #ref6 type="password" class="form-control"(keyup)="inputOnChange(ref5,ref6,ref7,ref8,'password')"
       placeholder="Enter username" formControlName="password">
      <small #ref7>Your new password length should be between 5 and 20 characters</small>
      <small #ref8>Please enter a new password</small>
    </div>
    <div style="color: gray; font-size: small;margin-top: 4px">
      Didn't receive a code? <a style="color: green;text-decoration:underline;cursor: pointer;"
       (click)="resendCode()">Resend code</a>
    </div>
    <!-- submittion -->
    
    <button style="margin-top: 8px; margin-left: 46%;"
     [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Confirm</button>
  </form>
 

</div>