<div class="container card shadow p-3 mb-5 bg-body rounded" id="loginStyle">

  <h3 style="text-align: center;">Reset your password</h3>
  <hr>
  
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <div style="margin-top: 8px;" class="form-group">
      <label #ref1 for="name">Username:</label>
      
      <input #ref2 type="text" class="form-control" (keyup)="inputOnChange(ref1,ref2,ref3,ref4,'name')"
       placeholder="Enter username" formControlName="name">
      <small #ref3>Your name length should be between 4 and 20 characters</small>
      <small #ref4>Please enter a name</small>
    </div>
    
    
    <!-- submittion -->
    
    <button  style="margin-top: 8px; margin-left: 372px;"
     [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Confirm</button>
  </form>
  

</div>